apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-headless
  namespace: log-processing
spec:
  clusterIP: None
  selector:
    app: rabbitmq
  ports:
  - port: 5672
    targetPort: 5672
    name: amqp
  - port: 15672
    targetPort: 15672
    name: management
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: log-processing
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - port: 5672
    targetPort: 5672
    name: amqp
  - port: 15672
    targetPort: 15672
    name: management
