apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../base

namespace: log-processing-dev

replicas:
- name: query-coordinator
  count: 1
- name: log-collector
  count: 1

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: StatefulSet
    name: storage-node
