global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'log-metrics'
    static_configs:
      - targets: ['log-exporter:8000']
      - targets: ['host.docker.internal:8000']  # For host-based exporter

  - job_name: 'operator'
    static_configs:
      - targets: ['localhost:8001']
